.img{
    background-image: url(apartment-bed-bedroom-chair-271618\ 1.png);
    height: 40rem;
    background-size: 100% 100%;
    width: 93.5rem;
}
.right{
    height: 6rem;
    width: 10rem;
    background-color: #E0B973;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;
    margin-left: 4rem;
}
.h3{
    color: #14274A;
font-family: Adobe Garamond Pro;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6px;
}

.navbar{
    font-size: 2rem;
    margin-left: 53rem;
    margin-top: -7rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
     color: white;
    }

.Welcome{color: #FFF;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
    margin-left: 6rem;
    margin-top: 7rem;
 }

 .Luxury{
    color: white;
    font-size: 101px;
    font-family: Adobe Garamond Pro;
    font-weight: 700;
    letter-spacing: 2.78px;
    margin-left: 6rem;
    margin-top: -40rem;
}

.Hotels{
    color: white;
    font-size: 52px;
    font-family: Adobe Garamond Pro;
    font-weight: 700;
    letter-spacing: 3px;
    word-wrap: break-word;
    margin-left: 6rem;
    margin-top: -3rem;
}

.Book{
    color: white;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 2.50px;
    word-wrap: break-word;
    margin-left: 6rem;
    margin-top: -1rem;
    }
 
.Booknow{
    width: 10rem;
    height: 3rem;
    background: #E0B973;
    border-radius: 4px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    padding-left: 18px;
    margin-left: 36rem;
    margin-top: -17rem;
    }
    
.Scroll{
    color: white;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 1.25px;
    word-wrap: break-word;
    width: fit-content;
    margin-left: 39rem;
    margin-top: 1rem;
    }

.room{
    color: #14274A;
text-align: center;
font-family: Adobe Garamond Pro;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3px;
margin-top: 4rem;
}    

.each{
    color: #14274A;
text-align: center;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.an{
    background-color: #14274A;
    color: white;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 27rem;
    width: 1196px;
    height: 64px;
    flex-shrink: 0;
    margin-left: 10rem;

}
.avg{
    width: 10rem;
    height: 3rem;
    background: #E0B973;
    border-radius: 4px;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    padding-left: 18px;
    margin-left: 36rem;
    margin-top: -17rem;
}

.view{
    width: fit-content;
    margin-top: -1.5rem;
    margin-left: 18rem;

}

.price{
    position: absolute;
    background-color: #E0B973;
    color: white;
    border: none;
    margin-left: 72rem;
    margin-top: -2rem;
}

.plus{
    background-color: #E0B973;
    color: white;
    border-radius: 3rem;
    border: none;
    margin-left: 15rem;
    margin-top: 2rem;
}
.Testimonials{
    color: #14274A;
    font-size: 60px;
    font-family: Adobe Garamond Pro;
    font-weight: 700;
    word-wrap: break-word;
    margin-left: 33rem;
    margin-top: 5rem;
    width: fit-content;
   }
   
   .calm{
   color: #14274A;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 21rem;
    font-size: 2rem;
    width: fit-content;
   }
    
   
   
   .Mr{
    color: #14274A;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 35rem;
    width: fit-content;
   }
